doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block graph-title
    canvas(id='canvas', width=600, height=400)
    block content
    script(src='/jquery/dist/jquery.js')
    script(src='/Chart.js/Chart.min.js')
    script(src='/javascripts/bar-graph.js')
    block script