extends layout_bargraph

block content
  h1 Average Time Comparison
  canvas(id='canvas')
  p This graph compares the average computation time required for each command (network delay is not included in these times)
block script
  script(type='text/javascript').
    var getData = function(){
      return !{data};
    }
    var getLabels = function(){
      return !{labels};
    }
    var getWidth = function(){
      return 600;
    }
    var getHeight = function(){
      return 300;
    }
  script(src='/javascripts/time-comparison.js')

